:root {
  --hero-color: white;
  --titles: #929b8d;
  --contents: #c8ccc6;
  --cards-color: #fcfcfc;
  --sticker-icon-color:#68725F;
  --sticker-color : #EDEDED;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
