:root {
  --hero-color: white;
  --titles: #929b8d;
  --contents: #c8ccc6;
  --cards-color: #fcfcfc;
  --sticker-icon-color:#68725F;
  --sticker-color : #EDEDED;
}

* {
  margin: 0;
}
.head {
  display: flex;
  background-image: url("assets/img/sport.jpg");
}
.left {
  height: 100vh;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 6px var(--hero-color) solid;
  align-items: center;
}
.right {
  width: 80%;
  margin: 0 auto;
}
.head .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  width: 50%;
  color: var(--hero-color);
}

#links {
  display: contents;
}
.hero-ctn {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: end;
}
.hero {
  max-width: 500px;
  transform: translate(0, -50%);
}

.chevron {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  left: 55%;
  font-size: 4rem;
}
.chevron > i {
  animation: bounce 0.35s ease infinite alternate;
}
#first-section {
  background-color: var(--cards-color);
}
#third-section {
  padding-top: 10rem;
}
#fourth-section {
  background-color: var(--titles);
}
#fifth-section {
    padding-top: 10rem;
  }
  
#img-design {
  width: 50%;
  margin: auto;
  display: flex;
}
#img-design > img {
  max-width: 100%;
}
.cards {
  background-color: var(--cards-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards > div {
  min-width: 250px;
  width: 25%;
  margin: 25px;
}
.card-title > h3 {
  color: var(--titles);
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.card-content {
  color: var(--contents);
  font-size: 0.8rem;
  font-weight: bolder;
}
.iconographi {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  padding: 2rem;
}
.iconographi-btm {
  top: 130px;
  box-shadow: -2px 2px 7px 0px black;
  background-color: var(--cards-color);
  width: 60%;
  margin: 2rem auto;
}

.iconographi-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.iconographi-item:nth-child(1) {
  color: #b3d6c7;
}
.iconographi-item:nth-child(2) {
  color: #f5c5ae;
}
.iconographi-item:nth-child(3) {
  color: #aecccf;
}
.iconographi-item:nth-child(4) {
  color: #efd8ac;
}
.iconographi-item > i:nth-child(1) {
  font-size: 4rem;
}

.iconographi-item > p:nth-child(2) {
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
}
.iconographi-item > p:nth-child(3) {
  color: var(--contents);
}

.iconographi-item.fourth{
color: var(--hero-color);
max-width: 20%;
}

.iconographi-item.fourth *{
    margin: 1rem 0;

}

.stickers{
    display: flex;    
    justify-content: space-evenly;
    padding: .2rem
}
.sticker{
    background-color: var(--sticker-color);
    padding: 2rem;
    border-radius: 25px;
    max-width: 19%;
}
.sticker-icon{
    display: flex;
}
.sticker-icon>div{
    border-radius: 15px;
    background-color: var(--cards-color);
    padding: 1rem;

}
.sticker i{
color: var(--sticker-icon-color);
font-size: 2rem;
}
.title{
    color: var(--titles);
    font-size: 1.5rem;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
