.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 20px 0px black;
    z-index: 99999999999999999999;
    position: fixed;
    width: 100%;
    background-color: white;
}
.nav > div {
    display: flex;
    flex-wrap: wrap;
}
.link {
    margin: 0.8rem;
}
img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}
